$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$center_content: auto;
$center_text: center;
$hidden: hidden;

.nav {
    background-color: red;
    height: 50px;
    width: auto;
}
